* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* CSS  specificity */
h1 {
  background-color: aqua !important;
  background-color: blueviolet;
}

.css-specificity-class {
  background-color: black;
  color: whitesmoke;
  transition: 2s;
}

#css-specificity-id {
  background-color: rgb(144, 144, 155);
  transition: 2s;
}

/* Pseudo elements */
.pseudo-paragraph::first-letter {
  font-size: 4rem;
  color: cadetblue;
} /* ::first-line for style first line in a elements */

::marker {
  color: blue;
  font-size: 2rem;
}

::selection {
  color: whitesmoke;
  background-color: black;
}

.pseudo-button:active {
  background-color: rgb(92, 130, 161);
}

.pseudo-button:hover {
  background-color: aqua;
  transform: rotate(360deg);
  transition: 0.1s;
  border: none;
  border-radius: 10px;
}

.navbar {
    color: rgb(255, 255, 255) !important ;
    background-color: rgb(137, 216, 130) !important;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(90, 99, 91);
    overflow: hidden;
}

.nav-list-attributes {
    float: left;
    padding: 10px 15px;
    color: aquamarine;
}

.nav-list-attributes:hover {
    background-color: rgb(40, 49, 41);
}